:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }


header {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    background-color: var(--tertiary);
}  

.top-header{
    border: 1px dashed rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.website-title {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    color: var(--secondary);
    font-size: 25px;
}

.website-title h1 {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    background-color: var(--secondary);
    color: var(--primary);
}

.navbar {
    display: flex;
    width: 630px;
    justify-content: space-between;
}

.navbar a {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    color: var(--secondary);
    font-size: 25px;

}

.bottom-header {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    height: 200px;
    background-image: linear-gradient(0deg, rgba(68, 88, 119, 1), rgba(217, 227, 233, 0.5)), url(./images/02-hero-bg.jpg);
    background-size: cover;
    position: relative;
}

.subtitle {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    background-color: var(--secondary);
    color: var(--primary);
    position: absolute;
    right: 0;
    bottom: 0;
}

.subtitle h2 {
    font-size: 25px;
}

main {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    margin: 40px 0;
}

.content-name {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    width: 20%;   
    border-right: solid  5px var(--primary);
    font-size: 50px;
    text-align: right;
}

.paragraph {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    width: 80%;
}

.flex-container {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    flex: 1;
}

.big-picture {
    flex: 2;  
}

.flex-item img {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
}

.final-content {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;  
    
}
.final-content a {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    color: var(--secondary);
    font-size: 25px;
    width: 300px;
    text-align: center;
    padding: 10px;
}